body {
    font-family: 'BBC Reith Serif', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(14,32,56,255);
}

header {
    background-color: rgba(14,32,56,255);
    color: #fff;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    position: relative;
}

header .logo {
    max-width: 300px;
    height: auto;
    top: 10px;
    left: 10px;
    align-items: center;
}

header h1 {
    margin: 0;
    padding-top: .25em; /* Adjust padding to accommodate the logo */
}

header p {
    margin: 0.5em 0 0;
}

main {
    flex: 1;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#factCheckForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#query {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.sort-options {
    margin-bottom: 10px; /* Adjust space for language dropdown */
    display: flex;
    justify-content: center;
    color: white;
}

.sort-options label {
    margin-right: 10px;
}

.language-dropdown {
    margin-bottom: 20px; /* Adds space between the dropdown and buttons */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.language-dropdown label {
    margin-right: 10px;
}

.language-dropdown select {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
}

.button-group {
    display: flex;
    justify-content: center;
}

button.check-fact {
    background-color: #007bff;  
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px; /* Adds space between the two buttons */
    border-radius: 4px;
}

button.check-fact:hover {
    background-color: #0056b3;  
}

button.reset {
    background-color: darksalmon;  
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

button.reset:hover {
    background-color: salmon;  
}

.results-section {
    display: flex;
    flex-direction: column;
}

.result {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result h2 {
    margin: 0 0 10px;
}

.result p {
    margin: 0;
}

.error {
    color: red;
    text-align: center;
}

.centerToImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.readMore,
.summarize-container {
    text-align: center;
    margin-top: 10px;
}

button.summarize {
    background-color: #28a745;  
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

button.summarize:hover {
    background-color: #218838;  
}

.progress-bar {
    margin-top: 10px;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar .progress {
    width: 100%;
    height: 4px;
    background-color: #007bff;
    animation: progressAnimation 2s infinite;
}

@keyframes progressAnimation {
    0% { width: 0; }
    100% { width: 100%; }
}

.summary {
    font-family: 'Georgia', 'Times New Roman', serif; /* A professional, news-like font */
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-indent: 40px;  /* Added indentation for the summary texts */
}
